{# admin_header.html #}


	<script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
	<h4 class="title">用户管理  (<a href="/admin/admin_users">管理员管理</a>)</h4>
	
	<div>
	<?js if(it.vd.users && it.vd.users.length){ ?>
	<ul class="userlist">
		<?js for(var i=0, l=it.vd.users.length; i<l; i++){
			 var user = it.vd.users[i];
		?>
		<li class="<?js if(i%2===0){ ?>even<?js } ?> ">
			<b>${user.name}</b>
			${user.email}
			(<a href="/admin/user_detail/#{user._id}">查看详情</a>)
		</li>
		<?js } ?>
	</ul>
	<?js } ?>
	</div>

<script type="text/javascript">
</script>

{# admin_footer.html #}
