		</div> 
		<div id="footer"> 
			<p><a href="/home/about">关于本站</a> | <a href="/home/disclaimer">免责声明</a> | <a href="/home/partner">合作伙伴</a> | <a href="/home/contact">联系信息</a></p> 
			<p>&copy;2011 net4Team&nbsp;&nbsp;
			   Power By <a target="_blank" href="http://nodejs.org">node.js</a> And <a target="_blank" href="http://www.mongodb.org/">Mongodb</a></p> 
			<script src="http://s22.cnzz.com/stat.php?id=3246782&web_id=3246782&show=pic1" language="JavaScript"></script>
		</div> 
	</div>
</body> 
</html> 