ul.product_list li.item{
	float:left;
	margin:18px;
	display:inline;
	width: 200px;
}
ul.product_list .original{
	border-bottom: solid 1px #bbb;
}
ul.product_list .original .title{
	font-size:16px;
	display: inline-block;
	font-weight:bold;
	height:16px;
	line-height:16px;
	margin-bottom: 5px;
}
ul.product_list .original .title img{
	width:16px;
	height:16px;
	margin-right:3px;
	vertical-align: top;
}
ul.product_list .original .btns{
	font-size:12px;
	padding-left:20px;
}
ul.product_list .original .btns a{
    font-size:12px;
    color:#555;
	margin-right:3px;
}
ul.product_list .original .btns a img{
	width:12px;
	height:12px;
}
ul.product_list .copys{
	color:#aaa;
}
ul.product_list .copys *{
	line-height: 1em;
	font-size: 14px;
}
ul.product_list .copys .fico{
    height:14px;
	width:14px;
	vertical-align: top;
}
ul.product_list .copys .title{
	color:#333;
}
