{# ../header.html #}


<h3 class="title">关于本站</h3>
<div>
	抄袭，也是一门艺术。<br/>
	别以为只有腾讯抄袭才是抄袭，<br/>
	别以为你个工场挂着个创新的头衔就不是抄袭，<br/>
	别以为你们是一两个或者几个人的小团队就可以边抄着别人的创意边骂腾讯抄袭成性没道德。<br/>
	腾讯抄的东西比你们抄的要负责任多了，<br/>
	综观网络，满目山寨，无非是五十步与百步之别。<br/><br/>
	
	山寨文化，近年来可以说已催成熟，你看山寨手机多V5，<br/>
	其实这种现象很早很早之前便已产生，<br/>
	根据我个人的胡乱分析，我认为在上世纪80年代末90年代初，<br/>
	随着改革开放，市场搞活的浪潮，很多人下海谋生，<br/>
	但是苦于在经商方面的IQ不高，没有什么好的想法与创意，<br/>
	又恰恰看到这一时期大量外国名牌引入国内，<br/>
	于是乎“照虎画猫”的思想观念便应运而生，<br/>
	也就是“山寨”。<br/><br/>
	
	对于互联网的山寨，<br/>
	不仅个人或者小团队，乃至国内互联网巨头，<br/>
	也都很喜欢山寨，<br/>
	他们乐于第一时间发现国外的创新应用与成熟模式，（嗯，包括我们团队 =。=）<br/>
	第一时间就拷贝一个一模一样的产品出来，<br/>
	这种摘果实的方式可以让他们以最小的风险而最快速度达到盈利。<br/><br/>
</div>

{# ../footer.html #}
