{# ../header.html #}
        <link rel="stylesheet" type="text/css" href="/static/css/tooltip.css" media="screen" />
        
	<?js if(!it.vd.is_edit || it.vd.product){ ?>
		<?js if(it.vd.is_edit){ 
			 	 var product = it.vd.product;
		?>	
		<h3 class="title">编辑创新产品: ${product.title}</h3>
		<input type="hidden" id="editId" value="#{product._id}" />
		<?js }else{ 
			 	 var product = {};
		?>
		<h3 class="title">提交创新产品</h3>
		<?js } ?>
        <form id="addForm" class="simple_form" onsubmit="return false;">
            <div id="showMsg"></div>
            <ul>
                <li><label for="title">名称:</label><input value="#{product.title||''}" type="text" name="title" reg="^.{2,}$" tip="产品的名称" /></li>
                <li><label for="home_url">网址:</label><input type="text" name="home_url" value="#{product.home_url || 'http://'}" tip="产品的网址" reg="^((https|http|ftp|rtsp|mms)?://)?(([0-9a-z_!~*'().&=+$%-]+: )?[0-9a-z_!~*'().&=+$%-]+@)?(([0-9]{1,3}.){3}[0-9]{1,3}|([0-9a-z_!~*'()-]+.)*([0-9a-z][0-9a-z-]{0,61})?[0-9a-z].[a-z]{2,6})(:[0-9]{1,4})?((/?)|(/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+/?)$" /></li>
                <li>
				    <label for="online_at">上线时间:</label>
                    <select id="oYear">
                    <?js for(var i=(new Date()).getFullYear(), l=1970; i>=l; i--){ ?>
                       <option value="#{i}">#{i}</option>
                    <?js } ?>
                    </select>年
                    <select id="oMonth">
                    <?js for(var i=1; i<13; i++){ ?>
                       <option value="#{i}">#{i}</option>
                    <?js } ?>
                    </select>月
					<?js if(it.vd.is_edit){ ?>
					<script type="text/javascript">
						$("#oYear").val('#{product.online_at.getFullYear()}');
						$("#oMonth").val('#{product.online_at.getMonth()+1}');
					</script>
					<?js } ?>
				</li>
				<li>
					<label for="category">所属分类:</label>
					<select name="category">
						<option value="internet">互联网产品</option>
						<!-- 
						<option value="daily">日常产品</option>
						<option value="other">其他产品</option>
						-->
					</select>
				</li>
                <li><label for="des">介绍:</label><textarea name="des" reg="^[\w\W\s\S]{6,}$" tip="产品的介绍" >#{product.des||''}</textarea></li>
				<li><label for="pics">图片:(不支持图片上传，请用外链，每行一个图片url)</label><textarea name="pics" tip="产品的相关图片。不支持图片上传，请贴图片URL，每行一个URL" >#{product.pics||''}</textarea></li>
                <li><button type="submit" id="btnAdd" class="minibutton green submit">提 交</button></li>
            <ul>
        </form>
        
        <script type="text/javascript" src="/static/js/tooltip.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var ttCheck = $('#addForm input[tip], #addForm textarea[tip], #addForm input[reg], #addForm textarea[reg]').tooltip();
                $("#btnAdd").click(function(){
                    if(ttCheck.check()){
                        var postData = {};
                        $("#addForm :text, #addForm :password, #addForm select, #addForm textarea").each(function(){
							if($(this).attr('name')) {
                            	postData[$(this).attr('name')] = $(this).val();
							}
                        });
						postData['online_at'] = $("#oYear").val() + '-' + $("#oMonth").val();
						postData['edit_id'] = $("#editId").val();
                        $.post('/products/add', postData, function(r){
                            if(r.success){
                                $("#showMsg").html('提交成功，正在跳转到产品页面..');
								var pid;
								if($("#editId").val()){
									pid = $("#editId").val();
								}else{
									pid = r.product._id;
								}
                                document.location.href = '/products/show/' + pid;
                            }else{
                                var err = r.error;
                                if(typeof err !== 'string'){
                                    err = '';
                                    for(var k in r.error){
                                        err += r.error[k] + '\r\n';
                                    }
                                }
                                alert(err);
                            }
                        });
                    }
                });
            });
        </script>
		<?js }else{ ?>
		<h3 class="title">你要编辑的产品不存在</h3>
		<?js } ?>

{# ../footer.html #}
