{# ../header.html #}

<?js if(!it.vd.product){ ?>
    <h3 class="title">不存在的产品</h3>
	
<?js }else{ ?>
        <link rel="stylesheet" type="text/css" href="/static/css/tooltip.css" media="screen" />
		
		<div>
			<?js
			    var urlHelper = it.Helper('urlHelper'),
			        product = it.vd.product;
			?>
		    <link rel="stylesheet" type="text/css" href="/static/css/facebox.css" media="screen" /> 
		    <div class="product_detail">
		        
		        <div class="original">
		            <img class="arrow" src="/static/images/layerArrow.gif" />
		            <h6>创新产品</h6>
		            <h3 class="title">
		                <a target="_blank" href="#{product.home_url}">
		                    <img class="fico" src="http://www.google.com/s2/favicons?domain=#{urlHelper.getDomain(product.home_url)}" />
		                    ${product.title}
		                </a>
		            </h3>
		            <p>
		                <label>网址:</label> <a href="${product.home_url}" target="_blank">${product.home_url}</a> <br/>
		            </p>
		            <P>
		                <label>生于:</label> #{product.online_at.getFullYear()}年-#{product.online_at.getMonth()+1}月 <br/>
		            </p>
		            <p>
		                <label>简介:</label> 
		                <?js if(product.des && product.des.length>140){ ?>
						<span class="cut">${product.des.slice(0, 140)}</span>
						<span class="hide">#{urlHelper.desTextToHtml(product.des)}</span>
						<a class="show_des_detail" href="javascript:">... 详细&gt;&gt; </a>
						<?js }else{ ?>
						#{urlHelper.desTextToHtml(product.des)}
						<?js } ?>
		            </p>
		            <?js if(product.pics && product.pics.length){ ?>
		            <div class="pics">
		                <?js for(var i=0; i<product.pics.length; i++){ ?>
		                <a href="${product.pics[i]}"><img src="${product.pics[i]}"/></a>
		                <?js } ?>
		            </div>
		            <?js } ?>
		        </div>
		        <div class="copys">
		            <h6>山寨+微创新</h6>
		            <div class="wrap">
		            <?js if(product.copys){ ?>
		            <ul>
		                <?js for(var i=0, l=product.copys.length; i<l; i++){
		                     var copy = product.copys[i];
		                ?>
		                <li <?js if(i==l-1){ ?>class="last"<?js } ?>>
		                    <p class="title">
		                    <img class="fico" src="http://www.google.com/s2/favicons?domain=#{urlHelper.getDomain(copy.home_url)}" />
		                    <a href="${copy.home_url}" target="_blank">${copy.title}</a>
		                    </p>
		                    <p>
		                        <label>生于:</label> #{copy.online_at.getFullYear()}年-#{product.online_at.getMonth()+1}月
		                    </p>
		                    <p>
		                        <label>简介:</label> 
		                        <?js if(copy.des && copy.des.length>140){ ?>
				                <span class="cut">${copy.des.slice(0, 140)}</span>
								<span class="hide">#{urlHelper.desTextToHtml(copy.des)}</span>
								<a class="show_des_detail" href="javascript:">... 详细&gt;&gt; </a>
				                <?js }else{ ?>
				                #{urlHelper.desTextToHtml(copy.des)}
				                <?js } ?>
		                    </p>
		                    <?js if(copy.pics && copy.pics.length){ ?>
		                    <div class="pics">
		                        <?js for(var j=0; j<copy.pics.length; j++){ ?>
		                        <a href="${copy.pics[j]}"><img src="${copy.pics[j]}"/></a>
		                        <?js } ?>
		                    </div>
		                    <?js } ?>
		                </li>
		                <?js } ?>
		            </ul>
		            <?js }else{ ?>
		            <div class="info">我聪明的朋友，这么好的产品居然还没有被山寨，就如一款伟大的产品没有被GFW一样失落啊，
		                 <a href="/products/add_copy/#{product._id}">快快来山寨吧</a>！
		            </div>
		            <?js } ?>
		            </div>
		        </div>
		    </div>
		    
		    <script type="text/javascript" src="/static/js/facebox.js"></script>
		    <script type="text/javascript">
		        jQuery(document).ready(function($) {
		            $('.product_detail .pics a').facebox();
			
					$(".show_des_detail").click(function(){
						var _t = $(this);
						if(_t.html().indexOf('隐藏')>-1){
							_t.parent().find('.hide').hide();
							_t.parent().find('.cut').show();
							_t.html('... 详细&gt;&gt;');
						}else{
							_t.parent().find('.cut').hide();
							_t.parent().find('.hide').show();
							_t.html('&lt;&lt隐藏详细介绍');
						}
					});
		        });
		    </script>
		</div>
		<div class="clear"></div>
		<br/>
		<hr/>
        <h3 id="addCopyWork" class="title">提交[<span style="color:green;">${product.title}</span>]的山寨产品</h3>
        <form id="addForm" class="simple_form" onsubmit="return false;">
        	<input type="hidden" value="#{it.vd.product._id}" id="prodoct_id" />
            <div id="showMsg"></div>
            <ul>
                <li><label for="title">名称:</label><input type="text" name="title" reg="^.{2,}$" tip="产品的名称" /></li>
                <li><label for="home_url">网址:</label><input type="text" name="home_url" value="http://" tip="产品的网址" reg="^((https|http|ftp|rtsp|mms)?://)?(([0-9a-z_!~*'().&=+$%-]+: )?[0-9a-z_!~*'().&=+$%-]+@)?(([0-9]{1,3}.){3}[0-9]{1,3}|([0-9a-z_!~*'()-]+.)*([0-9a-z][0-9a-z-]{0,61})?[0-9a-z].[a-z]{2,6})(:[0-9]{1,4})?((/?)|(/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+/?)$" /></li>
                <li>
                	<label for="online_at">上线时间:</label>
					<select id="oYear">
					<?js for(var i=(new Date()).getFullYear(), l=1970; i>=l; i--){ ?>
					   <option value="#{i}">#{i}</option>
					<?js } ?>
					</select>年
					<select id="oMonth">
                    <?js for(var i=1; i<13; i++){ ?>
                       <option value="#{i}">#{i}</option>
                    <?js } ?>
                    </select>月
				</li>
                <li><label for="des">介绍:</label><textarea name="des" reg="^[\w\W\s\S]{6,}$" tip="产品的介绍" ></textarea></li>
                <li><label for="pics">图片:(不支持图片上传，请用外链，每行一个图片url)</label><textarea name="pics" tip="产品的相关图片。不支持图片上传，请贴图片URL，每行一个URL" ></textarea></li>
                <li><button type="submit" id="btnAdd" class="minibutton green submit">添 加</button></li>
            <ul>
        </form>
        
        <script type="text/javascript" src="/static/js/tooltip.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
				var ttCheck = $('#addForm input[tip], #addForm textarea[tip], #addForm input[reg], #addForm textarea[reg]').tooltip();
                $("#btnAdd").click(function(){
                    if(ttCheck.check()){
                        var postData = {};
                        $("#addForm :text, #addForm :password, #addForm select, #addForm textarea").each(function(){
							if ($(this).attr('name')) {
								postData[$(this).attr('name')] = $(this).val();
							}
                        });
						postData['product_id'] = $("#prodoct_id").val();
						postData['online_at'] = $("#oYear").val() + '-' + $("#oMonth").val();
                        $.post('/products/add_copy', postData, function(r){
                            if(r.success){
                                $("#showMsg").html('提交成功，正在跳转到产品页面..');
                                document.location.href = '/products/show/' + $("#prodoct_id").val();
                            }else{
                                var err = r.error;
                                if(typeof err !== 'string'){
                                    err = '';
                                    for(var k in r.error){
                                        err += r.error[k] + '\r\n';
                                    }
                                }
                                alert(err);
                            }
                        });
                    }
                });
            });
        </script>
<?js } ?>

{# ../footer.html #}
